<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="3c88853a-271d-4fa4-bc9d-412ea86835c5" Publisher="CN=rmpab" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="3c88853a-271d-4fa4-bc9d-412ea86835c5" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ShareUIApp</DisplayName>
    <PublisherDisplayName>rmpab</PublisherDisplayName>
    <Logo>Assets2\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ShareUIApp.App">
      <uap:VisualElements DisplayName="ShareUIApp" Square150x150Logo="Assets2\Square150x150Logo.png" Square44x44Logo="Assets2\Square44x44Logo.png" Description="ShareUIApp" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets2\Wide310x150Logo.png" Square310x310Logo="Assets2\LargeTile.png" Square71x71Logo="Assets2\SmallTile.png">
        </uap:DefaultTile>
     
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>